title = "Core Page Content"
url = "/core-page-content"
layout = "basic"
description = "Trying to do the same thing from within the CMS instead of Static Pages"
hidden = "0"
==
<div class="container">
  <h2>Donec eget iaculis orci, quis cursus dui</h2>
  <p>Vivamus vitae lectus velit. Sed id quam consectetur, tincidunt augue id, dictum risus. Vestibulum egestas placerat ante. Ut tortor quam, efficitur quis dolor at, euismod ornare nulla. Maecenas viverra eleifend elementum. Praesent eget lorem lacinia, volutpat elit vitae, fermentum lorem. Sed volutpat scelerisque nulla in tincidunt. Fusce sollicitudin sit amet ex ac rhoncus. Suspendisse finibus enim lorem, pulvinar tristique dolor rutrum in. Quisque sed turpis pulvinar, elementum velit et, ultricies velit. Vivamus imperdiet turpis eget sapien tristique, egestas porttitor ante posuere. Nulla facilisi. Aliquam libero risus, hendrerit et eros a, molestie malesuada nunc. Pellentesque eu tristique lectus. Nulla facilisi. Nam sagittis tempor mauris, at accumsan eros lacinia eu.</p>
</div>