title = "Error page (500)"
url = "/error"
layout = "default"
hidden = "0"
==
<div class="jumbotron">
    <div class="container">
        <h1>Curse you, Perry the Platypus...!</h1>
        <p>We're sorry, but something went wrong behind the scene and the page cannot be displayed.</p>
    </div>
</div>