title = "Plugin components"
url = "/demo/plugins"
layout = "basic"
hidden = "0"

[estormToDo estormToDoList]
==
<div class="jumbotron title-js">
    <div class="container">
        <div class="row">
            <div class="col-8">
                <h1>Plugin components</h1>
                <p>Plugins can provide components, simple building blocks that enrich any page or layout. Check out the todo example below.</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
  {% component 'estormToDoList' %}
</div>

<!-- Page Explanation -->
<!--div class="container">{% partial "explain/plugins.htm" %}</div-->