{% put styles %}
<link rel="stylesheet" href="{{ ['assets/css/jquery-ui.min.css']|theme }} "></link>
{% endput %}
<style>
.form-inline .panel .input-group { margin-bottom: 5px; }
.form-inline .panel .input-group .input-group-addon { min-width: 70px; }
</style>
<form
  data-request="{{ __SELF__ }}::onUpdate"
  data-request-success="$('#inputTitle').val(''); $('#inputName').val(''); $('#inputDesc').val(''); $('#inputDate').val(''); $('#inputComplete').attr('checked', false);"
  data-request-update="'{{ __SELF__ }}::tasklist': '#result'"
  class="form-inline"
  id="form_todo"
>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Too Doo</h3>
    </div>
    <div class="panel-body">
      <div id="task_formfields">
        {% partial __SELF__ ~ '::formfields' %}
      </div>
    </div>

    {% partial __SELF__ ~ '::tasklist' pageTasks=__SELF__.tasks %}
  </div>
</form>

