<div class="input-group">
  <div class="input-group-addon">Task</div>
  <input name="task_title" placeholder="What needs to be done?" type="text" id="inputTitle" class="form-control" value="{% if pageTaskDetail.title != undefined %}{{ pageTaskDetail.title }}{% endif %}" />
</div>
<div class="input-group">
  <div class="input-group-addon">Name</div>
  <input name="task_name" placeholder="Who is this assigned to?" type="text" id="inputName" class="form-control" value="{% if pageTaskDetail.assigned_to != undefined %}{{ pageTaskDetail.assigned_to }}{% endif %}" />
</div>
<div class="input-group">
  <div class="input-group-addon">Desc</div>
  <input name="task_desc" placeholder="What is this task about?" type="text" id="inputDesc" class="form-control" value="{% if pageTaskDetail.description != undefined %}{{ pageTaskDetail.description }}{% endif %}" />
</div>
<div class="input-group">
  <div class="input-group-addon">Due</div>
  <input name="task_due" placeholder="YYYY-MM-DD" type="text" id="inputDate" class="form-control datepicker" value="{% if pageTaskDetail.due_date != undefined %}{{ pageTaskDetail.due_date }}{% endif %}" />
</div>
<div class="input-group">
  <div class="input-group-addon">Status</div>
  <div class="form-control">
    <label for="inputComplete"><input name="task_completed" id="inputComplete" type="checkbox" value="1" {% if pageTaskDetail.is_complete != undefined %}checked{% endif %} /> Completed</label>
  </div>
</div>
<input name="task_id" type="hidden" id="inputId" value="{% if pageTaskDetail.id != undefined %}{{ pageTaskDetail.id }}{% endif %}" />
<div class="input-group">
  {% if pageTaskDetail.id != undefined %}
  <button 
    type="submit" 
    class="btn btn-info" 
    data-request="{{ __SELF__ }}::onUpdateItem"
    data-request-update="'{{ __SELF__ }}::formfields': '#task_formfields'">
    Update
    </button>
    &nbsp;
    <button 
    type="submit" 
    class="btn btn-warning" 
    data-request="{{ __SELF__ }}::onRun"
    data-request-update="'{{ __SELF__ }}::formfields': '#task_formfields'">
    Cancel
    </button>
  {% else %}
  <button 
    type="submit" 
    class="btn btn-primary">
      <strong>+</strong> to list
    </button>
  {% endif %}
</div>
{% put scripts %}
  <script src="https://code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>
  <script type="text/javascript">
    $(document).ready (function () 
    { 
      $('#inputDate').datepicker ({ dateFormat: 'yy-mm-dd', });
    });
    $(document).on ('ajaxUpdate', function () 
    {
      $('#inputDate').datepicker ({ dateFormat: 'yy-mm-dd', });
    });
  </script>
{% endput %}
