<style>
ul.list-unstyled li.padded { padding: 0 20px 0 10px; }
ul.list-unstyled li.padded:hover { background:rgba(128,128,128,0.1); }
</style>
<ul class="list-unstyled" id="result">
{% for task in pageTasks %}
  <li class="padded">
    <a class="btn btn-link" data-request-data="item_id: {{ task.id }}" data-request="{{ __SELF__ }}::onEditItem" data-request-update="'{{ __SELF__ }}::formfields': '#task_formfields'">{{ task.title }}</a>
    <span class="pull-right">
      <button 
        data-request-confirm="Delete task - {{ task.title }} - sure you?" 
        data-request-data="item_id: {{ task.id }}" 
        data-request="{{ __SELF__ }}::onDeleteItem" 
        data-request-update="'{{ __SELF__ }}::tasklist': '#result'"
        title="Delete this task"
        class="close">
          &times;
      </button>
    </span>
  </li>
{% endfor %}
</ul>