description = "adapted from the theme footer"
==
<?php
function onStart()
{
    $this['copyright_year'] = date ("Y.M.d");
}
?>
==
<div id="footer">
    <div class="container">
        <p class="muted credit">&copy; {{ copyright_year }} <a href="http://www.estorm.com" target="_blank">estorm International</a></p>
    </div>
</div>